<div id="<%= dom_id device %>">
  <p>
    <strong>Device:</strong>
    <%= device.device_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Object:</strong>
    <%= device.object_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= device.place %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= device.type %>
  </p>

</div>
