<%= form_with(model: device) do |form| %>
  <% if device.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :device_id, style: "display: block" %>
    <%= form.text_field :device_id, placeholder: 'motion001', required: true %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: 'Motion', required: true %>
  </div>

  <div>
    <%= form.label :object_id, style: "display: block" %>
    <%= form.text_field :object_id, placeholder: 'm', required: true %>
  </div>

  <div>
    <%= form.label :place, style: "display: block" %>
    <%= form.text_field :place, required: true %>
  </div>

  <div class="mb-2">
    <%= form.label :type, style: "display: block" %>
    <%= form.select :type, Device.subclasses.map(&:name) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
