<p style="color: green"><%= notice %></p>

<%= link_to "Back to Devices", devices_path %>

<%= render @device %>

<div>
  <%#= link_to "Edit this device", edit_device_path(@device) %>

  <% if @device.subscription_id.present? %>
    <%= button_to "Unsubscribe Notifications", unsubscribe_device_path(@device.id) %>
  <% else %>
    <%= button_to "Subscribe Notifications", subscribe_device_path(@device.id) %>
  <% end %>
  <%= button_to "Destroy this device", @device, method: :delete %>
</div>
