<%= form_with(model: blockchain_transaction, url: blockchain_transactions_path) do |form| %>
  <% if blockchain_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blockchain_transaction.errors.count, "error") %> prohibited this blockchain_transaction from being saved:</h2>

      <ul>
        <% blockchain_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :device_name, "Device", style: "display: block" %>
    <%= form.select :device_name, Device.all.map(&:device_id) %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value, placeholder: 'Motion', required: true %>
  </div>

  <div class="mt-3">
    <%= form.submit %>
  </div>
<% end %>
